openstack-image-service-api/src/os-image-1.0.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-compute-1.1.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns="http://wadl.dev.java.net/2009/02"
   xmlns:osapi="http://docs.openstack.org/image/api/v1.0"
   xmlns:common="http://docs.openstack.org/common/api/v1.0"
   xmlns:atom="http://www.w3.org/2005/Atom"
   xsi:schemaLocation="http://docs.openstack.org/image/api/v1.0
                       xsd/api.xsd
                       http://docs.openstack.org/common/api/v1.0
                       xsd/api-common.xsd
                       ">

    <grammars>
        <include href="xsd/api.xsd" />
        <include href="xsd/api-common.xsd" />
    </grammars>

    <!--*******************************************************-->
    <!--             All Resoruces                             -->
    <!--*******************************************************-->

    <resources base="https://glance.example.com/">
	    <resource id="Images" type="#ImageList" path="images">
	        <method href="#createImage" />
	        <resource path="detail" type="#DetailImageList"/>
	        <resource path="{imageId}">
		        <param name="imageId" style="template" type="xsd:positiveInteger"/>
		        <method href="#getImage"/>
		        <method href="#updateImage"/>
		        <method href="#deleteImage"/>
		        <resource id="members" path="members" type="#memberList" >
		            <method href="#replaceMember" />
		            <resource path="{tenantId}">
		              <param name="tenantId" style="template" type="xsd:string"/>
                  <method href="#addMember" />
                  <method href="#removeMember" />
		          </resource>
		    </resource>
	        </resource>
	    </resource>
	    <resource id="shared-images" path="shared-images">
	        <resource path="{tenantId}">
		    <param name="tenantId" style="template" type="xsd:string"/>
		    <method href="#getSharedImages" />
	        </resource>
	    </resource>
    </resources>

    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

    <resource_type id="ImageList">
        <method href="#listImage"/>
    </resource_type>
    
    <resource_type id="DetailImageList">
        <method href="#listDetailImage"/>
    </resource_type>
    
    <resource_type id="memberList">
        <method href="#listMember"/>
    </resource_type>
         
       
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <method name="POST" id="createImage">
        <doc xml:lang="EN" title="create Image">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Adding a New Virtual Machine Image.
            </p>
        </doc>
        <request>
            <representation mediaType="application/json"  element="image">
                <param name="server" style="plain" required="true"
                       type="ImageForCreate"
                       path="/images"/>
            </representation>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="common:version">
                <param name="location" style="plain" type="xsd:anyURI"
                       required="true"
                       path="/common:version/atom:link[@rel='self']/@href">
                    <link resource_type="#createImage" rel="self"/>
                </param>
            </representation>
            <representation mediaType="application/json" />
        </response>
            <!-- Common Faults -->
        &commonFaults;
    </method>
 
    <method name="POST" id="updateImage">
        <doc xml:lang="EN" title="update Image">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Updating an Image
            </p>
        </doc>       
        <response status="200 203">
            <representation mediaType="application/xml" element="common:version">
                <param name="location" style="plain" type="xsd:anyURI"
                       required="true"
                       path="/common:version/atom:link[@rel='self']/@href">
                    <link resource_type="#createImage" rel="self"/>
                </param>
            </representation>
            <representation mediaType="application/json" />
        </response>
            <!-- Common Faults -->
        &commonFaults;
    </method>
  
   
    <method name="GET" id="getImage">
        <doc xml:lang="EN" title="Get Image Details">
            <p xmlns="http://www.w3.org/1999/xhtml">
                List details of the specified image.
            </p>
        </doc> 
        <response status="200 203">
            <representation mediaType="application/xml" element="osapi:image"/>
            <representation mediaType="application/json" />
        </response>
        <!-- Common and GET Faults-->
        &commonFaults;
        &getFaults;
    </method>

    <method name="DELETE" id="deleteImage">
        <doc xml:lang="EN" title="Delete Image">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Deletes the specified image.
            </p>
        </doc>
        <response status="204"/>
        <!-- Common and GET Faults -->
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="listImage">
        <doc xml:lang="EN" title="List Image">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Requesting a List of Public VM Images
            </p>
        </doc>
        <request>
            &imageListParameters;
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="osapi:images"/>
            <representation mediaType="application/json" />
        </response>
        <!-- Common Faults -->
        &commonFaults;
    </method>    
    
    <method name="GET" id="listDetailImage">
        <doc xml:lang="EN" title="List Detail Image">
            <p xmlns="http://www.w3.org/1999/xhtml">
                List available images (all details).
            </p>
        </doc>
        <request>
            &imageListParameters;
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="osapi:images">
                <param name="next" style="plain" type="xsd:anyURI"
                       path="/osapi:images/atom:link[@rel='next']/@href">
                    <link resource_type="#DetailImageList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                       path="/osapi:images/atom:link[@rel='previous']/@href">
                    <link resource_type="#DetailImageList" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json" />
        </response>
        <!-- Common Faults -->
        &commonFaults;
    </method>
    
    <method name="PUT" id="addMember">
        <doc xml:lang="EN" title="Delete Image">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Adding a Member to an Image
            </p>
        </doc>
        <request>
            <representation mediaType="application/json"  element="image">
                <param name="server" style="plain" required="true"
                       type="ImageForCreate"
                       path="/images"/>
            </representation>
        </request>
        <response status="204"/>
        <!-- Common and GET Faults -->
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="replaceMember">
        <doc xml:lang="EN" title="Replace Member">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Replacing a Membership List for an Image
            </p>
        </doc>
        <request>
            <representation mediaType="application/json"  element="image">
                <param name="server" style="plain" required="true"
                       type="ImageForCreate"
                       path="/images"/>
            </representation>
        </request>
        <response status="204"/>
        <!-- Common and GET Faults -->
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="removeMember">
        <doc xml:lang="EN" title="Delete Image">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Removing a Member from an Image
            </p>
        </doc>
        <request>
            <representation mediaType="application/json"  element="image">
                <param name="server" style="plain" required="true"
                       type="ImageForCreate"
                       path="/images"/>
            </representation>
        </request>
        <response status="204"/>
        <!-- Common and GET Faults -->
        &commonFaults;
        &getFaults;
    </method>
</application>
